/*-----navbar------*/

.color-navbar{
    background-color: rgba(0, 0, 0, 0.5);
}

.logo{
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 300%;
    text-decoration: none;
}

.picture-nav{
    background-image: url("https://i.postimg.cc/FsGDd7WR/Capture-d-cran-2021-03-17-21-16-32.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;  
}

.link-nav{
    color: white;
    text-decoration: none;
}

.link-nav:hover{
    color: white;
    text-decoration: none;
}

.phone-nav{
    color :white;
    margin-top: 1rem;
}

.shopping-cart-nav{
    color: white;
}

/*-----specialtie------*/

.specialties-title{
    color: #7b4662;
    font-family: 'Shippori Mincho B1', serif;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.specialties-ita{
    color: #aea8a8;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
}

.card-size{
    border: none;
}

/*-----customers opinion------*/

.picture-customers{
    background-image: url("https://i.postimg.cc/fTb423P4/Capture-d-cran-2021-03-17-23-16-58.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;  
    width: 100%;
    padding-top: 2rem;
    vertical-align: middle;
}

/*-----creation------*/

.creation-title-1{
    text-align: start;
    font-family: 'Shippori Mincho B1', serif;
}

.creation-description-1{
    text-align: start;
    font-family: 'Shippori Mincho B1', serif;
}

.creation-title-2{
    text-align: center;
    font-family: 'Shippori Mincho B1', serif;
}

.creation-description-2{
    text-align: center;
    font-family: 'Shippori Mincho B1', serif;
}

.creation-title-3{
    text-align: end;
    font-family: 'Shippori Mincho B1', serif;
}

.creation-description-3{
    text-align: end;
    font-family: 'Shippori Mincho B1', serif;
}

.hr-creations{
    width: 10%;
    color:  #7b4662;
    margin-right: 1rem;
    height: 3px;
    
}

.view-creations{
    font-family: 'Shippori Mincho B1', serif;
    color: black;
    text-decoration: none;
}

.view-creations:hover{
    font-family: 'Shippori Mincho B1', serif;
    color: #7b4662;
    text-decoration: none;
}