/*-----navbar------*/

.color-navbar{
    background-color: rgba(0, 0, 0, 0.5);
}

.logo{
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 300%;
    text-decoration: none;
}

.picture-nav{
    background-image: url("https://i.postimg.cc/FsGDd7WR/Capture-d-cran-2021-03-17-21-16-32.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 600px;  
}

.link-nav{
    color: white;
    text-decoration: none;
}

.link-nav:hover{
    color: white;
    text-decoration: none;
}

.phone-nav{
    color :white;
    margin-top: 1rem;
}

.shopping-cart-nav{
    color: white;
}